/* :::::::::::::::::::::::::::::::::::::::::::::::::: global style start*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: "border-box";
    list-style-type: none;
    text-decoration: none;
}
body {
    font-family: "montserrat", sans-serif;
}
.text {
    margin: 10px 0;
}
.btn-smart {
    background: #ff454f;
    border: 1px solid #ff454f;
    transition: all ease 0.3s;
}
.btn-smart:hover {
    border: 1px solid #ff454f;
    background: transparent;
    color: #ff454f;
}
/* :::::::::::::::::::::::::::::::::::::::::::::::::: global style finished*/

/* :::::::::::::::::::::::::::::::::::::::::::::::::: navbar style start*/
/* .navbar__text {
    display: flex;
    height: 60px;
    align-items: center;
    margin: 0 auto;
    width: 1200px;
} */
.navbar {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    transition: all ease 0.9s;
    background: url(./img/bg.jpg);
}
.logo img {
    max-width: 220px;
    padding: 10px;
}
.navbar__ul {
    float: right;
}
.navbar__ul li {
    display: inline-block;
    margin: 0 10px;
    line-height: 80px;
}
.navbar__ul li a {
    color: #fff;
    position: relative;
    padding: 0 15px;
    text-transform: uppercase;
}
.navbar__text #btn,
.navbar__text #cancel {
    color: #fff;
    font-size: 30px;
    float: right;
    line-height: 80px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
/* :::::::::::::::::::::::::::::::::::::::::::::::::: navbar style finished*/

/* :::::::::::::::::::::::::::::::::::::::::::::::::: header style start*/
.banner {
    width: 100%;
    height: 100vh;
    background: url("./img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.banner__content {
    display: flex;
    align-items: center;
    color: #fff;
    height: 100vh;
}
.container {
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
}
.banner__text {
    width: 500px;
}
.banner__text h3 {
    font-size: 50px;
}
.banner__text h1 {
    font-size: 80px;
    line-height: 80px;
    font-weight: 800;
    margin: 20px 0;
}
.banner__text p {
    font-size: 25px;
    font-weight: 400;
    margin: 20px 0;
}
.btn {
    text-decoration: none;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 700;
    border-radius: 30px;
    font-size: 15px;
    padding: 20px 40px;
}
.banner__btn {
    margin: 45px 0;
}
/* :::::::::::::::::::::::::::::::::::::::::::::::::: header style finished*/

/* :::::::::::::::::::::::::::::::::::::::::::::::::: About style start*/
.about,
.menu {
    padding: 80px 0;
}
.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.col-6 {
    width: 50%;
}
.px-25 {
    padding: 0 25px;
}
.pb-25 {
    padding-bottom: 60px;
}
/* .pt-25 {
    padding-top: 40px;
} */
.about h3,
.p-25 h3 {
    color: rgb(37, 37, 37, 0.7);
    font-size: 30px;
    margin-bottom: 12px;
    font-weight: 700;
}
.about h1,
.p-25 h1 {
    font-size: 40px;
    color: #252525;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 15x;
}
.about p,
.p-25 p {
    font-size: 18px;
    color: #8b8b8b;
    font-weight: 300;
}
.about__btn,
.menu__btn {
    margin-top: 35px;
}
.about__img,
.menu__img {
    width: 100%;
    overflow: hidden;
}
.about__img img,
.menu__img img {
    width: 100%;
}
/* :::::::::::::::::::::::::::::::::::::::::::::::::: About style finished*/

/* :::::::::::::::::::::::::::::::::::::::::::::::::: Shop style start*/
.shop {
    width: 100%;
    background: url("./img/bg.jpg");
    height: 450px;
    background-attachment: fixed;
}
.shop__text {
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}
.shop__text h1 {
    font-size: 40px;
    line-height: 60px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 2px;
}
.shop__text h1 span {
    text-transform: uppercase;
}
.shop__btn {
    margin: 35px 0;
}
/* :::::::::::::::::::::::::::::::::::::::::::::::::: Shop style finished*/

/* :::::::::::::::::::::::::::::::::::::::::::::::::: Menu style start*/
.menu h3 {
    color: rgb(37, 37, 37, 0.7);
    font-size: 30px;
    margin-bottom: 12px;
    font-weight: 700;
}
.menu h1 {
    font-size: 40px;
    color: #252525;
    font-weight: 700;
    line-height: 40px;
}
.menu p,
.p-25 p {
    font-size: 18px;
    color: #8b8b8b;
    font-weight: 300;
}
/* :::::::::::::::::::::::::::::::::::::::::::::::::: Menu style start*/

/* :::::::::::::::::::::::::::::::::::::::::::::::::: Clients style start*/
.clients {
    width: 100%;
    padding: 100px 0;
    background: url(./img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}
.clients .col-3 {
    width: 25%;
}
.client {
    text-align: center;
}
.client h1 {
    font-size: 35px;
}
.client p {
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0;
}
/* :::::::::::::::::::::::::::::::::::::::::::::::::: Clients style finished*/

/* :::::::::::::::::::::::::::::::::::::::::::::::::: Prices style start*/
.prices {
    width: 100%;
    text-align: center;
    padding: 100px 0;
}
.col-4 {
    width: 33.33%;
}
.price {
    padding: 20px;
}
.price__img {
    width: 100%;
}
.price__img img {
    width: 250px;
}
.price__heading {
    padding: 25px;
}
.price__text {
    margin: 15px 0;
    color: #888;
    font-size: 18px;
    font-weight: 300;
}
.price_rs {
    font-size: 30px;
    margin-top: 15px;
}
.prices-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
/* :::::::::::::::::::::::::::::::::::::::::::::::::: Prices style finished*/

/* :::::::::::::::::::::::::::::::::::::::::::::::::: footer style finished*/
.footer {
    width: 100%;
    padding: 15px 0;
    background: url(./img/bg.jpg);
    color: #fff;
    width: 100%;
}
.footer-content {
    text-align: center;
    width: 100%;
}
.footer-content span {
    color: #ff454f;
}
/* :::::::::::::::::::::::::::::::::::::::::::::::::: footer style finished*/

/* :::::::::::::::::::::::::::::::::::::::::::::::::: media query style start*/
@media (max-width: 1250px) {
    .container {
        width: 950px;
    }
    .navbar__text {
        width: 950px;
    }
}
@media (max-width: 1050px) {
    .container {
        width: 850px;
    }
    .navbar__text {
        width: 100%;
    }
    .banner__text {
        width: 650px;
    }
}
@media (max-width: 900px) {
    .container {
        width: 700px;
    }
    .banner__text {
        width: 100%;
    }
    .banner__text h3 {
        font-size: 40px;
    }
    .banner__text h1 {
        margin: 10px 0;
    }
    .banner__text p {
        margin: 10px 0;
    }
    .price {
        padding: 10px;
    }
    .navbar__text #btn {
        display: block;
    }
    .navbar__ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        background: url(./img/bg.jpg);
        text-align: center;
        transition: all ease 0.5s;
    }
    .navbar__ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    #check:checked ~ ul {
        left: 0;
    }
    #check:checked ~ label #btn {
        display: none;
    }
    #check:checked ~ label #cancel {
        display: block;
    }
}
@media (max-width: 768px) {
    .col-3,
    .col-6 {
        width: 100%;
        text-align: center;
    }
    .container {
        width: 700px;
    }
    .navbar__text {
        width: 100%;
    }
    .banner__text {
        width: 100%;
        text-align: center;
    }
    .banner__text h3 {
        font-size: 35px;
    }
    .banner__text h1 {
        font-size: 60px;
        line-height: 60px;
    }
    .banner__text p {
        font-size: 20px;
        margin: 20px 0;
    }
    .col-4 {
        width: 50%;
    }
}
@media (max-width: 720px) {
    .container {
        width: 600px;
    }
    .menu-btn,
    .menu-icon {
        display: block;
        color: #fff;
        float: right;
    }
    .navbar__ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #34495e;
        top: 60px;
        left: 0;
        text-align: center;
        transition: all ease 0.5s;
    }

    .navbar__ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 50px 0;
        line-height: 30px;
    }
    .navbar__text {
        justify-content: space-between;
    }
    /* ul li {
        display: none;
    } */
    /* .navbar__ul {
        display: none;
        position: absolute;
        top: 65px;
        left: 0px;
        background-color: #000000;
        border-bottom: 4px solid #ff1414;
        width: 100%;
        padding: 0px;
        margin: 0px;
    } */
}
@media (max-width: 675px) {
    .container {
        width: 520px;
    }
    .price {
        padding: 0;
    }
}
@media (max-width: 550px) {
    .navbar__ul {
        /* display: none; */
    }
    .container {
        width: 420px;
    }
    .banner__text h3 {
        font-size: 25px;
        letter-spacing: 2px;
    }
    .banner__text h1 {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: 2px;
    }
    .banner__text p {
        font-size: 15px;
        margin: 20px 0;
        letter-spacing: 1px;
    }
    .about h1,
    .menu h1 {
        font-size: 35px;
        line-height: 40px;
    }
    .shop__text {
        width: 350px;
    }
    .shop__text h1 {
        font-size: 30px;
        line-height: 50px;
        font-weight: 500;
        letter-spacing: 1px;
    }
    .shop__text h1 span {
        text-transform: none;
    }
    .about h1,
    .p-25 h1 {
        font-size: 30px;
        line-height: 35px;
    }
    .clients .col-3 {
        width: 100%;
        padding: 20px 0;
    }
    .col-4 {
        width: 100%;
    }
}
@media (max-width: 450px) {
    .container {
        width: 350px;
    }
}
@media (max-width: 375px) {
    .container {
        width: 275px;
    }
    .shop__text {
        width: 290px;
    }
    .about h3,
    menu h3 {
        margin-bottom: 9px;
    }
}
@media (max-width: 320px) {
    .container {
        width: 275px;
    }
    .shop__text {
        width: 275px;
    }
}
/* :::::::::::::::::::::::::::::::::::::::::::::::::: media query style finished*/
