@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: "border-box";
}
body {
    font-family: "montserrat", sans-serif;
}
/* :::::::::::::::::::::::::::::::::::::::::::::::::: header style start*/
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navbar__text {
    display: flex;
    height: 60px;
    align-items: center;
    margin: 0 auto;
    width: 1200px;
}
.logo {
    width: 40%;
}
.logo img {
    max-width: 220px;
}
.navbar__ul {
    width: 60%;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}
.navbar__ul li a {
    text-decoration: none;
    color: #fff;
    padding: 0 15px;
    text-transform: uppercase;
}
.banner {
    width: 100%;
    height: 100vh;
    background: url("./../public/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.banner__content {
    display: flex;
    align-items: center;
    color: #fff;
    height: 100vh;
}
.container {
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
}
.banner__text {
    width: 500px;
}
.banner__text h3 {
    font-size: 50px;
}
.banner__text h1 {
    font-size: 80px;
    line-height: 80px;
    font-weight: 800;
    margin: 20px 0;
}
.banner__text p {
    font-size: 25px;
    font-weight: 400;
    margin: 20px 0;
}
.btn {
    text-decoration: none;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 700;
    border-radius: 30px;
    font-size: 15px;
    padding: 20px 40px;
}
.btn-smart {
    background: rgba(255, 69, 79);
}
.banner__btn {
    margin: 35px 0;
}
/* :::::::::::::::::::::::::::::::::::::::::::::::::: header style finished*/
/* :::::::::::::::::::::::::::::::::::::::::::::::::: About style start*/
.about,
.menu {
    padding: 80px 0;
}
.row {
    width: 100%;
    display: flex;
}
.col-6 {
    width: 50%;
}
.p-25 {
    padding: 25px;
}
.about h3,
.p-25 h3 {
    color: rgb(37, 37, 37, 0.7);
    font-size: 30px;
    margin-bottom: 12px;
    font-weight: 700;
}
.about h1,
.p-25 h1 {
    font-size: 40px;
    color: #252525;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 15x;
}
.about p,
.p-25 p {
    font-size: 18px;
    color: #8b8b8b;
    font-weight: 300;
}
.about__btn,
.menu__btn {
    margin-top: 35px;
}
.about__img,
.menu__img {
    width: 100%;
    overflow: hidden;
}
.about__img img,
.menu__img img {
    width: 100%;
}
/* :::::::::::::::::::::::::::::::::::::::::::::::::: About style finished*/

/* :::::::::::::::::::::::::::::::::::::::::::::::::: Shop style start*/
.shop {
    width: 100%;
    background: url("./../public/img/bg.jpg");
    height: 450px;
    background-attachment: fixed;
}
.shop__text {
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}
.shop__text h1 {
    font-size: 40px;
    line-height: 60px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 2px;
}

.shop__text h1 span {
    text-transform: uppercase;
}
.shop__btn {
    margin: 35px 0;
}
/* :::::::::::::::::::::::::::::::::::::::::::::::::: Shop style finished*/
